<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('https://www.pythonanywhere.com/user/kaewkamphon/files/home/kaewkamphon/mysite/myweb/templates/myweb/images/welcome.png');
}
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 50px;
}

    </style>
</head>

<body>
    <div class="middle">
    <a href="https://www.pythonanywhere.com/user/kaewkamphon/files/home/kaewkamphon/mysite/myweb/templates/myweb/cathome.html">WEBSITE</a>
    </div>
</body>
</html>